<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #upleft {
            width:100%;
            height:100%;
            background:red;
            float:left;
        }

        #upright {
            width:20%;
            height:100%;
            background:black;
            float:left
        }
        #below {
            width:100%;
            height:100%;
            background:grey
        }
    </style>
</head>
<body>
<div id="upleft">
    <div id="upright"></div>
    <div id="below"></div>
</div>
</body>
</html>