<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body style="background-color:black; overflow: scroll" data-spy="scroll" data-target=".navbar" data-offset="60"  >
<style>
    .labelTxt {
        font-size: 29px;
        color: white;
        font-family: fantasy;
    }
</style>

<script src=../javascripts/app.js></script>

<br><br><br><br><br><br>


<div class="container">

    <div class="row">

        <div class="col-lg-8 col-lg-offset-2">

            <form action="https://www.enformed.io/766dcvrn" method="POST" >
                <div class="form-group">
                    <label class="labelTxt">Name</label>
                    <input name="first_name" type="text" class="form-control" required/>
                </div>

                <div class="form-group">
                    <label class="labelTxt">Email</label>
                    <input name="first_Email" type="text" class="form-control" required/>
                </div>

                <div class="form-group">
                    <label class="labelTxt">Your message</label>
                    <textarea name="message" type="text" class="form-control" required/></textarea>
                </div>
                <!-- Submit your form with a button -->
                <button type="submit" class="btn btn-default">Submit Me</button>



            </form>
        </div><!-- /.8 -->

    </div> <!-- /.row-->

</div> <!-- /.container-->


</body>
</html>