<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #upleft {
            width:100%;
            height:100%;
            background:red;
            float:left;
        }

        #upright {
            width:20%;
            height:100%;
            background:black;
            float:left
        }
        #below {
            width:100%;
            height:100%;
            background:grey
        }
    </style>
</head>
<body>
<table border="2" width="1200" height="531">
    <tr>
        <td width="25%%" valign="top">
            <a href= "channels.html"><h2>Series</h2></a>

            <p><a href= "Demo1.html">Friends</a></p>
            <p><a href= "Demo2.html">Games of Thrones</a></p>
            <p><a href= "Demo3.html">Arrow</a></p>
            <p><a href= "Demo4.html">Dexter</a></p>
            <p><a href= "Demo5.html">Grey's Anatomy</a></p>
            <p><a href= "Demo6.html">Quantico</a></p>
        </td>

        <td width="800" >
            <img src= "../images/Demo2.jpg">

        </td>
        </td>

    </tr>
</table>
</body>
</html>