<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>


    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css" />
    <link href='../css/Logo.css' rel='stylesheet' type='text/css'>
    <link href='../css/TextOnImage.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/footer.css" type="text/css" />
    <link rel="stylesheet" href="../css/navbar.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <style>
        #pArrowPane
        {
            color: wheat;
            height: 169px;
            margin-top: 59px;
            width: 400px;
            margin-left: 445px;
        }
        #ploginPane
        {
            color: wheat;
            height: 169px;
            margin-top: 59px;
            width: 400px;
            margin-left: 445px;
        }
    </style>
</head>

<body style="background-color:black; overflow: scroll" data-spy="scroll" data-target=".navbar" data-offset="60"  >

<script src=../javascripts/login.js></script>
<script src=../javascripts/app.js></script>

<div class="img-wrapper" style="margin-left: 51px; ">

    <div ng-if="!loggedinUser" height="100%" width="100%">
        <img  class="img-responsive"  src="images\BackLogin.png" height="100%" width="100%" >
        <div class="img-overlay">
            <a data-match-route="/login" href="/login"><p id="txtLogin">

                <div id="pArrowPane"></div>
            </a>
        </div>
    </div>

</div>



<!-- Modal LOG IN-->
<div id="login" class="modal fade" >
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Login to BuzzBeeper</h3>
            </div>
            <div class="modal-body">

                <b color="black">Don't have an account? </b><a  data-toggle="modal" data-target="#signUp" data-dismiss="modal">Register here</a>
                <br><br>
                <input type="email" class="form-control" id="emailLogin" placeholder="Email">
                <br>
                <input type="password" class="form-control" id="passwordLogin" placeholder="Password">
                <br>
                <button class="btn btn-primary" onclick="handleLogin()" >Login</button>
                <br><br>
                <a  data-toggle="modal" data-target="#forgotPass" data-dismiss="modal">Forget Password ?</a>
            </div>
        </div>
    </div>
</div>


<!-- Modal SIGN UP-->
<div id="signUp" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="popup-title">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Sign-up to BuzzBeeper</h3>
                </div>
            </div>
            <div class="form-group">
                <div class="modal-body">
                    <b color="black">Already have an account? </b><a data-toggle="modal" data-target="#login" data-dismiss="modal">Login</a>
                    <br><br>
                    <input type="text" class="form-control" id="signname" placeholder="Name" required ><br>
                    <input type="email" class="form-control" id="emailSignUp" placeholder="Email"><br>
                    <input type="password" class="form-control" id="passwordSignUp1" placeholder="Password"><br>
                    <input type="password" class="form-control" id="passwordSignUp2" placeholder="Re-Enter Password"><br>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" style="float:left;" onclick="handleSignUp()" id="register">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Forgot Password-->
<div id="forgotPass" class="modal fade" >
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Password Reset</h3>
            </div>
            <div class="modal-body">
                <b color="black">Don't want to reset the account password ? </b><a  data-toggle="modal" data-target="#login" data-dismiss="modal">Go back...</a>
                <br><br>
                <input type="email" class="form-control" id="emailforgot" placeholder="Enter your Email eg. abc@gmail.com">
                <br>
                <button class="btn btn-primary" onclick="sendPasswordReset()" >Reset</button>
                &nbsp &nbsp &nbsp &nbsp &nbsp
                <button class="btn btn-primary" data-toggle="modal" data-target="#login" data-dismiss="modal">Done</button>

                <br><br>
            </div>
        </div>
    </div>
</div>

</body>
</html>