<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link rel="stylesheet" href="../css/logout.css">
</head>
<body>

<div class="container" style="width: 100% !important;">
    <div class="row">
        <div class="center-form panel">
            <div class="panel-body">


                <div>
                    <h3 class="text-center">Logout from BuzzBeeper?</h3>
                </div>


                <form method="post" ng-submit="logout()" name="loginForm" >
                    <li><button id="btnlog" style="margin-left: 1px" type="submit" class="btn btn-lg btn-block btn-success round red">Logout<span class="round"><p style="color: black"><strong>But only if you,</strong></p><p> <strong>really want to. </strong></p></span></button></li>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>