<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Series Details</title>
    <style type="text/css">
        <!--
        .style1 {color: #FFFFFF}
        -->
    </style>
</head>

<body>
<body bgcolor="gray" >
<table border ="0" width="100%" height="100%" bgcolor="black" style=" margin-top: 120px;">

    <tr>
        <td width="630"valign="top" align="left"><h2 class="style1">{{show.name}} </h2></td>
        <td width="327" ><h2 align="justify" class="style1" valign="top">{{show.airsTime}}</h2></td>
    </tr>
    <tr>
        <td  valign="top" >  <img class="img-rounded" ng-src="{{show.poster}}" width="100%"/></td>
        <td valign="below" align="left">
            <ul><h3 class="style1">
                <li><strong>Genre:</strong> {{show.genre}}</li><br>

            </h3></ul></td>
    </tr>
    <tr><td height="36">

    </td></tr>
    <tr>
        <td>
            <p>
            <h4 class="style1"> {{show.overview}}</h4>
            </p></td>
    </tr>
</table>
</body>
</html>
