<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body bgcolor="gray" >
<table border ="0" width="100%" height="100%" bgcolor="black">

    <tr>
        <td width="630"valign="top" align="left"><h2 class="style1">Series Name: Empire </h2></td>
        <td width="327" ><h2 align="justify" class="style1" valign="top">Date Aired: 2005</h2></td>
    </tr>
    <tr>
        <td  valign="top" >  <img align="left" width="630" height="600" src="../Babanila/BuzzBeeper/public/images/empire_image.png"></td>
        <td valign="below" align="left">
            <ul><h3 class="style1">
                <li><strong>Genre:</strong> Drama, Music</li><br>
                <li><strong>Actor:</strong> Sanaa Hamri, Danny Strong, Mario Van Peebles, Lee Daniels, Craig Brewer, Michael Engler, Paul McCrane, Millicent Shelton, Debbie Allen, Kevin Bray, Rob Hardy, Anthony Hemingway, Dee Rees, Rosemary Rodriguez, John Singleton, Sylvain White, Paris Barclay, Hanelle M. Culpepper, Cherien Dabis, Dennie Gordon.</li><br>
                <li><strong>Country:</strong> US</li><br>
                <li><strong>Release:</strong> 2005</li><br>
                <li><strong>Network:</strong> IMDb</li><br>
            </h3></ul></td>
    </tr>
    <tr><td height="36">
        <a href="http://www.imdb.com/title/tt3228904/videoplayer/vi2120856857?ref_=tt_ov_vi">
            <button type="button">Play</button></a>
        <a href="C:\Users\user\Babanila\BuzzBeeper\public\views\signup.html">
            <button align="right"  type="button" >Subscribe</button>
        </a>
    </td></tr>
    <tr>
        <td>
            <p>
            <h4 class="style1">Description: A hip-hop mogul must choose a successor among his three sons who are battling for
                control over his multi-million dollar company, while his ex-wife schemes to reclaim what is hers."</h4>
            </p></td>
    </tr>
</table>
</body>
</html>

</body>
</html>